<body class="bg-slate-900 min-h-screen">
  <div class="container mx-auto p-4 flex flex-col gap-2">
    <h1 class="text-center text-2xl font-semibold text-white">
      Veja o clima na sua cidade?
    </h1>

    <div class="relative">
      <input
        [(ngModel)]="city"
        placeholder="Cidade"
        class="p-2 w-full rounded bg-slate-800 text-slate-200"
        (input)="onCityInputChange()"
      />
      <span
        class="material-symbols-outlined absolute right-2 top-1/2 transform -translate-y-1/2 text-slate-400"
      >
        search
      </span>
    </div>

    @if(this.suggestions.length > 0) {
    <ul class="text-white">
      <li
        *ngFor="let suggestion of suggestions"
        (click)="onCitySelected(suggestion)"
        class="p-2 border-b-[1px] border-white"
      >
        {{ suggestion.name }} - {{ suggestion.state }}, {{ suggestion.country }}
      </li>
    </ul>
    }
    <!-- <button (click)="changeCity()" class="bg-blue-500 text-white p-2 rounded">
      Buscar
    </button> -->
    @if(weatherData) {
    <cardweather
      [temperature]="weatherData.temperature"
      [tempMin]="weatherData.tempMin"
      [tempMax]="weatherData.tempMax"
      [humidity]="weatherData.humidity"
      [windSpeed]="weatherData.windSpeed"
      [description]="weatherData.description"
      [temp]="weatherData.temp"
    >
    </cardweather>
    }

    <!-- Componente de Mapa -->
    <app-map [lat]="lat" [lon]="lon" [nameCity]="nameCity"></app-map>
  </div>
</body>
