<div class="rounded-lg bg-slate-800 flex">
  <div
    class="flex flex-col text-white font-bold justify-center items-center p-4"
  >
    <span
      class="material-symbols-outlined text-8xl animate-pulse"
      [ngClass]="iconColor"
    >
      {{ icontype }}
    </span>

    <span class="text-[4rem] font-medium">{{ temperature }}°</span>
    <span class="text-[12px] font-medium text-green-700">Celsius</span>
  </div>
  <div class="w-full p-2 overflow-hidden">
    <div class="flex flex-col justify-between text-white text-xl">
      <div
        class="flex max-w-100 border-b-[2px] border-slate-600 justify-between text-[16px]"
      >
        <div class="flex">
          <span
            class="material-symbols-outlined text-4xl mr-2 animate-wiggle-more"
            >thermostat</span
          >
          <p class="p-2 text-[12px]">mín °</p>
        </div>
        <span class="font-bold text-[12px]"> {{ tempMin }}°</span>
      </div>
      <div class="flex border-b-[2px] border-slate-600 justify-between">
        <div class="flex">
          <span class="material-symbols-outlined text-4xl mr-2 animate-rotate-x"
            >thermostat</span
          >
          <p class="p-2 text-[12px]">máx°</p>
        </div>
        <span class="font-bold text-[12px]"> {{ tempMax }}° </span>
      </div>
      <div class="flex border-b-[2px] border-slate-600 justify-between">
        <div class="flex items-center">
          <span class="material-symbols-outlined text-2xl"> humidity_mid </span>
          <p class="p-2 text-[12px]">Umidade</p>
        </div>
        <span class="font-bold text-[12px]">{{ humidity }}% </span>
      </div>
      <div
        class="flex border-b-[2px] border-slate-600 justify-between items-center"
      >
        <div class="flex items-center">
          <span class="material-symbols-outlined animate-bounce"> air </span>
          <p class="p-2 text-[12px]">vento:</p>
        </div>
        <span class="font-bold text-[12px]"
          >{{ windSpeed }}<span class="text-[8px]"> km/h</span></span
        >
      </div>
    </div>
    <p class="text-white">
      Predominantemente
      <span class="text-yellow-500 font-medium">{{ description }}</span>
    </p>
  </div>
</div>
